@model BugHub.Models.EmployeeDetail

@{
    ViewBag.Title = "Details";
}
<style>
    .background {
        background-size: cover;
        background-image: linear-gradient(to top, black, lightgray);
        height: 100vh;
        color: black;
        font-size: large;
    }

    a:visited {
        color: black;
    }

    a:link {
        color: darkmagenta;
    }

    a:hover {
        color: floralwhite;
    }
</style>
<h2>Details</h2>
<body class="background"></body>
<div>
    <h4>EmployeeDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.EmployeeId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
